*.enc filter=git-crypt diff=git-crypt
/.i3scripts/shorten.py filter=git-crypt diff=git-crypt
/.i3scripts/wtr.sh filter=git-crypt diff=git-crypt
/.i3scripts/type_password.sh filter=git-crypt diff=git-crypt
/.i3scripts/btc.sh filter=git-crypt diff=git-crypt
/.config/redshift/redshift.conf filter=git-crypt diff=git-crypt
